/* Start Variables */
:root {
    --main-color: #22c55e;
    --main-alt-color: #188a5c;
    --theered-color: #c59522;
    --white-color: white;
    --main-transition: 0.3s;
}
/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-alt-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    
}

a { 
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

    /* Small */
@media (min-width: 768px) {
    .container {
width: 750px;
    }
}
    /* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
    /* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start header */ 
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    color: var(--main-color);
}

.header .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 40px;
    }
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 5;
    top: calc(100% + 1px);
}

.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);

}

@media (max-width: 767px) {
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 14px;
        height: 30px;
    }
}

.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 4px;
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .main-nav > li > a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.header .main-nav > li > a:hover::before {
    left: 0;
}

/* */
.box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--main-color);
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    color: var(--main-alt-color);
  }
  
  .box:hover:before {
    border-color: var(--main-color);
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: var(--main-color);
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
/* */

/* End header */

/* Start landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    background-color: #ececec;
    height: 100%;
    z-index: -1;
    transform-origin: left top;
    transform: skewY(-6deg);
}

.landing .container {
    min-height: calc ( 100vh - 72px );
    min-height: calc( 100vh - 72px );
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

@media(max-width: 991px) {
    .landing .text {
        text-align: center;
    }
    .landing .text p {
        margin: 15px auto;
    }
}

.landing .text h1 {
    font-size: 40px;
    letter-spacing: -2px;
    margin: 0;
}

.landing .text p {
    color: #666;
    font-size: 22px;
    line-height: 1.6;
    max-width: 500px;
}

@media(max-width: 767px) {
    .landing .text h1 {
        font-size: 27px;
    }
    .landing .text p {
        font-size: 18px;
    }
}

.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

@media(max-width: 991px) {
    .landing .image {
        display: none;
    }
}

.landing .go-down {
    position: absolute;
    color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 0.5s infinite;
}
/* End landing */
 